-i https://pypi.python.org/simple
appdirs==1.4.3
attrs==19.3.0
certifi==2019.11.28
cfgv==3.1.0
chardet==3.0.4
coverage==5.0.3
distlib==0.3.0
entrypoints==0.3
filelock==3.0.12
flake8-docstrings==1.5.0
flake8-import-order==0.18.1
flake8==3.7.9
freezegun==0.3.15
identify==1.4.11
idna==2.9
mccabe==0.6.1
more-itertools==8.2.0
nodeenv==1.3.5
packaging==20.1
pluggy==0.13.1
pre-commit==2.1.1
py==1.8.1
pycodestyle==2.5.0
pydocstyle==5.0.2
pyflakes==2.1.1
pyparsing==2.4.6
pytest-cov==2.8.1
pytest==5.3.5
python-dateutil==2.8.1
pyyaml==5.3
requests-mock==1.7.0
requests==2.23.0
six==1.14.0
snowballstemmer==2.0.0
toml==0.10.0
urllib3==1.25.8
virtualenv==20.0.5
wcwidth==0.1.8
